@*@model IEnumerable<Facebook.Models.MyRole>*@
@model MyUser

        @{
            ViewData["Title"] = "Roles";
            Layout = "~/Views/Shared/_Admin_Layout.cshtml";
        }


        <div class="container">
            @Html.Partial("CreateRole", new Facebook.ViewModels.RoleViewModel() { })

            <br />
            <h1>Roles</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            <label>Name</label>
                        </th>
                        <th>
                            <label>Description</label>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                 
                    @foreach (var item in ViewBag.Roles) {
                    <tr>
                        <td>
                           @item.Name
                        </td>
                        <td>
                            @item.Description
                        </td>

                        @{
                            if (item.NormalizedName == "ADMIN" || item.NormalizedName == "USER")
                            {
                                <td>
                                    <a class="btn btn-default btns" asp-action="EditRole" asp-route-id="@item.Id">Edit</a>
                                </td>
                            }

                            else
                            {
                                <td>
                                    <a class="btn btn-default btns" asp-action="EditRole" asp-route-id="@item.Id">Edit</a>
                                    <a class="btn btn-default btns" asp-action="DeleteRole" asp-route-id="@item.Id">Delete</a>
                                </td>
                            }
                        }

                    </tr>
                    }
                </tbody>
            </table>
        </div>
