@model MyUser
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Facebook_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            @* User Infooo here *@
            <partial name="UserInfoNotFriendPartial" />


            <br /><br />
    
      
            @*Frrrriendssssss*@

            <h5>Friends</h5>

            <ul>
                @foreach (var us in ViewBag.MyPendingFriends)
                {
                    <li>
                        <section>
                            @{
                                var base64 = Convert.ToBase64String(us.Image);
                                var imgSrc = string.Format("data:image/gif;base64,{0}", base64);
                            }
                            <img src=@imgSrc class="img-thumbnail" width="50" height="50" />                              <a class="as" asp-controller="UserProfile" asp-action="AnonFriendORNot" asp-route-Id=@ViewData["IDD"] asp-route-IDD="@us.Id">@us.FName  @us.LName</a>


                        </section>
                        <hr />
                    </li>
                }
            </ul>

        </div>

        <div class="col-sm-9">
            <a class="btn btn-success"  asp-controller="UserProfile" asp-action="AcceptFriend2" asp-route-id="@Model.Id" asp-route-myId=@ViewData["IDD"] >Confirm Friend Request</a>
            <a class="btn btn-danger"  asp-controller="UserProfile" asp-action="CancelRecivedFriend2" asp-route-id="@Model.Id" asp-route-myId="@ViewData["IDD"]">Remove Friend Request</a>

            <br /><br />
            @*TeeeeeeeeeeeeatPPPPPPPPost*@
            <partial name="PostsNotFriends" />
        </div>
    </div>
</div>
